## Data Analysis in Python

*Author: Georgy Tarasenko*

## Seminar 4

### Seminar outline

- Lists as a class of objects in Python
- Changing lists
- Acessing and indexing lists
- Removing elements from list
- Sorting lists
- Copying lists
- Practice

Lists are used to store multiple items in a single variable.

```List``` is a Python is a class of objects that is used to store collections of data (the other 3 are ```Tuple```, ```Set```, and ```Dictionary```).

Python lists are:
- mutable ( = "changeable");
- ordered;
- able to store elements of different data types.

In [2]:
thislist = ["apple", "banana", "cherry"] # example of a list
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
type(thislist)

list

In [4]:
thatlist = [1, 2, 3, 4]
print(thatlist)

[1, 2, 3, 4]

How can we create a list?

1) Brackets for a list:

In [5]:
blank_list = []
blank_list

[]

2) Brackets with objects of any type inside separated by commas:

In [6]:
some_list = ["Hello", ",", "World", "!"]
some_list

['Hello', ',', 'World', '!']

In [7]:
some_new_list = ['Hey', 3, 'o!', 1.35, True, [1, 3, 5]] #we can store anything within a list
#even an another list
some_new_list

['Hey', 3, 'o!', 1.35, True, [1, 3, 5]]

3) Using ```list()``` function

In [9]:
new_list = list("Hello world!")
new_list

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

Only from strings and other collections:

In [10]:
list(1) # does not work

TypeError: 'int' object is not iterable

In [11]:
[1]

[1]

In [12]:
list(1, 2, 3) # list function expects ONE argument

TypeError: list expected at most 1 argument, got 3

In [13]:
[1, 2, 3]

[1, 2, 3]

In [14]:
my_tuple = (1, 2, 3) # from tuple
list(my_tuple)

[1, 2, 3]

In [15]:
my_set = {1, 2, 3} # from set
list(my_set)

[1, 2, 3]

4) From string using `split` method:

In [20]:
new_string = 'one, two, three'
new_string.split(', ') # from string to list

['one', 'two', 'three']

In [23]:
another_list = ['point 1', 'point 2', 'point 3']
print('\n'.join(another_list)) # from list to string

point 1
point 2
point 3

5) Via so-called list comprehension:

In [ ]:
another_list = [letter for letter in "Some random text"] #list comprehension
#the idea will be explained in the next week 
another_list

To determine how many items a list has, use the ```len()``` function:

In [24]:
some_new_list = ['Hey', 3, 'o!', 1.35, True, [1, 3, 5]]
print(len(some_new_list))

6

### Accessing a list

Indexing system in Python lists is similar to one in strings (see, the script of the previous lecture).

In [25]:
thislist = ["apple", "banana", "cherry"] 
print(thislist[1])

banana

In [26]:
print(thislist[-1]) #negative indexing is also applicable to lists

cherry

We can also set a range of indexes:

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:2])
print(thislist[3:])
print(thislist[::2]) #we can set a step
print(thislist[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana']
['orange', 'kiwi', 'melon', 'mango']
['apple', 'cherry', 'kiwi', 'mango']
['orange', 'kiwi', 'melon']

To determine if a specified item is present in a list use the `in` keyword:

In [29]:
thislist = ["apple", "banana", "cherry"]
'tomato' in thislist

False

In [31]:
'o' in 'abc'

False

In [32]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist: # is very useful with conditional statements
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
"apple" in thislist

### Changing list

**Before we start.** As you remember, method is a specialized function. In turn, function is characterized by its output. In this case we can say: function (or method) *returns* something:

In [33]:
'no "A" in this string'.count('A') # method count takes 'A' string, counts its occurences and RETURNS the count (1 in this case)

1

Giving that, there are two main types of methods:

* method that takes an object, does something and **RETURNS** something;
* method that takes an object, proceeds some manipulations with it returns **NOTHING** (just changes the object itself). Traditionally methods with such behaviour alter existing object in some ways.

Example:

In [34]:
my_list = [1, 1, 2, 2, 3]

my_list.copy() # copies the list, RETURNS a new list (we have some OUT)

[1, 1, 2, 2, 3]

In [35]:
my_copied_list = my_list.copy() # we assign the result of copy method to a new object
type(my_copied_list) # check the type of a new object

list

In [36]:
my_copied_list

[1, 1, 2, 2, 3]

In [37]:
my_copied_list.reverse() # returns NOTHING (no OUT), changes my_copied_list itself

In [38]:
my_copied_list # check it reversed

[3, 2, 2, 1, 1]

In [39]:
reverse_result = my_copied_list.reverse() # try assign the result of reverse method to a new object
print(reverse_result) # None returns

None

In [40]:
my_copied_list

[1, 1, 2, 2, 3]

In [41]:
my_copied_list[::-1]

[3, 2, 2, 1, 1]

To change the value of a specific item, refer to the index number:

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'cherry']

In [45]:
thislist[1:3] = ["melon", "kiwi"]
thislist

['apple', 'melon', 'kiwi']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

To insert a new list item, without replacing any of the existing values, we can use the ```insert()``` method.

The ```insert()``` method inserts an item at the specified index:

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### Adding elements to a list, joining lists
As it was showed above, we can add elements via indexing and ```insert()``` method.

To add an item to the end of the list, use the ```append()``` method:

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [50]:
thislist = ["apple", "banana", "cherry"]
thislist = thislist.append("orange") # NOT CORRECT
print(thislist)

None

In [51]:
'Abc'.replace('A', 'a')

'abc'

To append elements from another list to the current list, use the ```extend()``` method.

In [52]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [53]:
thislist = ["apple", "banana", "cherry"]
thislist.append(['mango', 'pineapple'])
print(thislist)

['apple', 'banana', 'cherry', ['mango', 'pineapple']]

In [54]:
thislist = ["apple", "banana", "cherry"]
thislist.extend(['mango', 'pineapple'])
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple']

Lists concatenation:

In [55]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
new_list = thislist + tropical
print(new_list)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [56]:
new_list * 2

['apple',
 'banana',
 'cherry',
 'mango',
 'pineapple',
 'papaya',
 'apple',
 'banana',
 'cherry',
 'mango',
 'pineapple',
 'papaya']

### Removing elements from a list

In [57]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [58]:
thislist = ["apple", "banana", "cherry", 'banana']
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana']

In [59]:
del thislist[2]

In [60]:
thislist

['apple', 'cherry']

In [61]:
del thislist[2]

IndexError: list assignment index out of range

The ```pop()``` method removes the specified index.

In [62]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the ```pop()``` method removes the last item.

In [63]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The ```clear()``` method empties the list.

The list still remains, but it has no content.

In [64]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### Sorting lists

List objects have a ```sort()``` method that will sort the list alphanumerically, ascending, by default:

In [65]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [66]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [68]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

To sort descending, use the keyword argument ```reverse = True```:

In [67]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

What if you want to reverse the order of a list, regardless of the alphabet?

The ```reverse()``` method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
thislist[::-1]

### Copying lists

You cannot copy a list simply by typing ```list2 = list1```, because: ```list2``` will only be a reference to ```list1```, and changes made in ```list1``` will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method ```copy()```.

In [69]:
list1 = [1, 2, 3]
list2 = list1

In [70]:
list1.remove(2)

In [71]:
list1

[1, 3]

In [72]:
list2

[1, 3]

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

Another way to make a copy is to use the built-in method ```list()```.

In [73]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## Practice

### Task 1

- Create a list ```America``` by joining lists ```South_America``` and  ```North_America``` using concatentaion
- Sort the resulting list in alphabetical order
- Delete object ```China``` from ```Europe``` list
- create an empty ```Eurasia``` list
- Join ```Europe``` and ```Asia``` into ```Eurasia``` object using ```extend()``` function
- Delete duplicates using ```pop()``` function

In [ ]:
South_America = ['Brazil', 'Argentina', 'Chile']
North_America = ['Mexico', 'USA', 'Canada']
Europe = ['France', 'China', 'The Netherlands', 'Czechia', 'Russia']
Asia = ['Japan', 'Russia', 'Iran', 'India']
Africa = ['Egypt', 'Nigeria', 'Ethiopia', 'Algeria']
### your code here

### Task 2

Write a program that checks whether a certain ```country``` is in ```America```, ```Eurasia```, or ```Africa```. Use conditional statements. The output should be printed in the format: ```<<country>>``` is in ```<<continent>>```.

In [ ]:
country = input()
### your code here