# Data Analysis in Python
_Author: Ioann Dovgopoliy_

## Seminar 2

### Seminar outline

* Pythonic mindset
* Data types & Arithmetics
* Input and output
* Summary
* Practice

### Pythonic mindset

You should try to perceive all the things in class- and object-like way. For instance, there is a kind _homo sapiens_. We approximately can list its basic characteristics: bipedal, speaking, social and so on (you can think about it like about Plato's ideal forms). In details humans are different (different objects: name, age, gender, etc. - in Python we will call it _attributes_), but in general they are the same - _homo sapiens_ (they belong to thae same _class_). So, _class_ - ideal form, _object_ - concrete representation of the _class_.

In sum, every object of some class can be characterized by:

* its properties (what it is) - _attributes_ saying pythonically;
* its possible spectrum of actions (what can it do) - _methods_ in Python paradigm.

In order to better understand Python, consider that programming language is entirely artificial, e. g. you have to construct it from scratch. Consequently, like in the real world, in Python world we will deal with interacting objects. Unlike in the real world, classes and their characteristics are totally constructed by programmers. Python _knows_ that 1 + 1 = 2 because:

* programmers defined what is Integer number (in this case Integer is a class, `1` is an object)
* programmers defined what occurs when Integer meets `+` and another Integer

You can define YOUR OWN CLASS and define what occurs when applying `+` operator (for instance, nothing may occur, or 'Congratulations!' notice may return, or anything else).

So, do not be confused when some operator (+, -, =, etc.) or function behave in way you do not you expect: just go to [Python documentation](https://docs.python.org/3/) and check how the operator or function is defined.

Example:

In [8]:
1 + 1

2

In [9]:
'1' + '1'

'11'

It is obvious that in real life we do not sum words or texts that way.

### Data types
#### Integer (int)

Python understands what data type an object has (unlike Java, Kotlin or C++). However, we can make a request using `type` function:

In [10]:
type(5)

int

In [5]:
print(type(5))

<class 'int'>

**Notice.** JN returns code result by default, and you are not convinced to use `print` function:

In [11]:
5 + 3

8

In [12]:
print(5 + 3)

8

As in Math, we can accomplish arithmetical operations with Integer numbers:

In [ ]:
# addition
print(4 + 2)
# subtraction
print(4 - 2)

In [15]:
# multiplication
print(4 * 2)
# division
print(4 / 2)
# remainder of dividing
print(3 % 2)
# integer division (do not confuse with default division)
print(6 // 4)

8
2.0
1
1

In [16]:
4 / 2, 4 // 2

(2.0, 2)

In [17]:
type(4 / 2), type(4 // 2)

(float, int)

**Issue.** Please, try to reflect on why we get results of different types.

In [18]:
# powering
print(3 ** 2)
# rooting in form of powering
print(3 ** (1 / 2))

9
1.7320508075688772

In [20]:
print(1.5)

1.5

#### Float (float)

In [5]:
type(1.5)

float

Two ways to create float:

* using `.`;
* using `float` function in `int`.

In [22]:
type(1.0)

float

In [8]:
type(1), type(1.)

(int, float)

In [23]:
float(1), int(1.0)

(1.0, 1)

Of course, while we can go from `int` to `float`, we can reverse the process:

In [25]:
int(6.7)

6

**Notice.** It is NOT a mathematical rounding:

In [26]:
int(6.9), round(6.9)

(6, 7)

Please note:
- in Python, we use `.` instead of `,` to make a fractional part

Feel the difference:

In [27]:
print(2,6 / 2)  # two numbers
print(2.6 / 2)  # one number

2 3.0
1.3

Sometimes we can get unintentional results:

In [28]:
print(0.1 + 0.2)

0.30000000000000004

In [30]:
0.1 == 0.10000000000000001

True

It is because Python use floating point arithmetics to represent floats. In general:

* do not able to make the memory of computer infinite (number of real numbers is infinite);
* try to represent any real number through some function of Integer numbers.

Additionally, we can run into some unusual format:

In [32]:
1.543 ** 1000

2.3223413936165768e+188

This can be translated so:

$ n \cdot e+188 = n \cdot 10^{188} $

In [33]:
1000 == 10 ** 3

True

In [34]:
3000 == 3 * (10 ** 3)

True

In [35]:
3500 == 3.5 * (10 ** 3)

True

In [36]:
3500 == 3.5 * (10 ** 4)

False

#### String (str)

Function `print` allows us to print not only numbers but text too:

- text string in Python is any expression surrounded by `"` or `'` quotes

Example:

In [37]:
type(1), type('1')

(int, str)

In [38]:
print('My name:')

My name:

In [44]:
type(1)

int

In [40]:
print('The first ' + 'class')

The first class

In [41]:
print('I have not any problems with Python ' * 20)

I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python I have not any problems with Python

You can:

- add strings;
- multiply string by an Integer;
- use special _methods_ of class `str`.

**lifehack**: *if you type `str.` press `Tab`, you will get the list of avialable methods*.

In [49]:
print('how')
print('how' + ' ' + 'are')
print('how ' * 3)
print(' are' * 2 + 'you?')

how
how are
how how how
 are areyou?

In [47]:
print('how' + ' ' + 'are')

how are

In [50]:
print(1 + 2)  # number
print('1' + '2') # string concatenation

3
12

From string to int and reversely:

In [51]:
str(1), int('28')

('1', 28)

#### Logical/boolean (bool)

Python recognizes two logical values: `True` and `False`. Do not confuse strings and booleans:

In [52]:
True == 'True'

False

Note that Python regards logical `True` and Integer (or float) 1 as equal:

In [53]:
True == 1.0

True

In [55]:
False == 0

True

**Issue.** What number you think is equal to `False`?

In [56]:
print(type(False))

<class 'bool'>

In [57]:
print(type('True'))

<class 'str'>

As we have logical values, we also have logical operators to deal with them. There are some: `==`, `!=`, `>`, `<`, `>=`, `<=`, `and`, `or`, `not`:

In [29]:
print(34 == 30 + 4)

True

In [ ]:
# = - assignment
# == mathematical equality

In [58]:
name = 'Georgy'

In [59]:
print(name)

Georgy

In [ ]:
'a' == 'a'

In [ ]:
print(35 == 30 - 5)

In [ ]:
35 >= 5

In [61]:
5 != 6

True

In [30]:
True and True

True

In [31]:
True or False

True

In [32]:
not True

False

### Input and output

In [68]:
my_input = input(int())

046745674787

In [69]:
my_input

'46745674787'

In [67]:
type(my_input)

str

In [74]:
my_input = input('Insert an integer number: ') # input

my_output = int(my_input)*10

print(f'Here is my output: {my_output}') # output

Insert an integer number: 10
Here is my output: 100

In [ ]:
int_input = int(input())

### PEP-8

PEP 8, sometimes spelled PEP8 or PEP-8, is a document that provides guidelines and best practices on how to write Python code. It was written in 2001 by Guido van Rossum, Barry Warsaw, and Nick Coghlan. The primary focus of PEP 8 is to improve the readability and consistency of Python code.

Complete guide you can see [here](https://realpython.com/python-pep8/#:~:text=PEP%208%2C%20sometimes%20spelled%20PEP8,and%20consistency%20of%20Python%20code.).

### Summary

* all things in Python are defined (and can be redefined);
* there are Integeres (`int`), Floats (`float`), Strings (`str`) and Logicals (`bool`);
* there are functions for input and output: `input` and `print`;
* in Python we have some standards of coding called PEP-8.

### Practice

#### Task 1
Compute remainder from dividing (182 * 23 / 90.21 + (3 - 4) * 839) by 6. After that, power it by 1/3:

In [83]:
((182*23/90.21+(3-4)*839)%6)**(1/3)

1.7547179166769673

In [84]:
reminder = ((182*23/90.21+(3-4)*839)%6)
print(reminder**(1/3))

1.7547179166769673

#### Task 2
Write the program that gets `name` variable as input and prints '%name% is a nice name!'

In [87]:
name = input()
print(name+' is a nice name')

Georgy
Georgy is a nice name

#### Task 3
Find out whether sum of squares of numbers 3, 6, 1, 0, 8 is higher than cube root of 1894 divided by rounded sum of numbers 1.2 and 0.234.

In [88]:
3**2 + 6**2 + 0**2+ 8**2 > 1894**(1/3)/round(1.2+0.234)

True